.chat {
    display: flex;
    justify-items: flex-end;
    background-color: #36393F;
    flex: 1;
}


.chat-background {
    max-width: 100%;
    text-align: center;
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
}

.chat-background > img {
    margin-top: -100px;
}

.chat-background > p {
    margin-top: 10px;
    color: #72767D;
}

.chat-ImgP {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 80px;
}

.chat-ImgP > img {
    width: 350px;
}

.chat-ImgP > p {
    margin-top: 10px;
    color: #72767D;
}

.ative {
    width: 344px;
    display: inline-block;
    border-left: 1px solid #42454A;
}

.ative-Title {
    padding: 10px;
    color: #fff;
    font-size: 0.9em;
}

.ative-Msg {
    height: 100%;
    padding-top: 15px;
    text-align: center;
}

.ative-Msg > h4 {
    color: #fff;
    font-size: 0.99em;
}

.ative-Msg > p {
    margin: 10px 10px;
    color: #B9BBBE;
    font-size: 0.9em;
}
@media screen and (max-width: 1200px) {
    .ative {
        display: none;
    }
    .chat-background {
        max-width: 98.7%;
    }
}
