body {
    overflow: hidden;
    font-family: Arial, Helvetica, sans-serif
}

.App {
    display: flex;
}

.App > section {
    display: flex;
    flex-direction: column;
}

.App > section > section {
    display: flex;
}