.AddFriend-Body {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.397);
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
}

.AddFriend {
    width: 500px;
    height: 250px;
    background-color: #36393F;
    border-radius: 10px;
    color: white;
    padding: 15px;
}

.header-Add {
    display: flex;
    justify-content: space-between;
}

.close-Add {
    background-color: #36393F;
    height: 25px;
    border: none;
    cursor: pointer;
}

.close-Add img {
    width: 20px;
}

.AddFriend form div#form {
    display: flex;
    align-items: center;
    justify-items: center;
    margin: 50px 0px;
}

.AddFriend p {
    margin: 10px 0px;
    font-size: 0.9em;
}

.input-Add {
    width: 350px;
    height: 40px;
    font-size: 1.2em;
    margin-left: 10px;
    color: #fff;
    background-color: #313339;
    border: 1px solid #222428;
    border-radius: 10px;
    padding: 0px 5px;
    outline: none;
}

.btn-Add {
    width: 120px;
    height: 44px;
    background-color: #5963cf;
    font-weight: bold;
    color: #fff;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}

.btn-Add:hover {
    background-color: #4752C4;
}